#bloc_page {
    width: 800px;
    background-color: lightgreen;
    padding: 10px;
}

#header {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    height: 200px;
    background-color: gray;
    padding: 5px;
}

#titre_principal {
    width: 170px;
    height: 170px;
    background-color: darkgray;
    margin: 10px;
}

#sous_titre {
    width: 400px;
    height: 80px;
    background-color: lightgrey;
    margin: 10px;

}

#bannier_image {
    height: 150px;
    background-color: blue;
    margin-top: 20px;
    margin-bottom: 20px;

}

#section {
    width: 780px;
    display: flex;
    justify-content: space-around;
    height: 480px;
    background-color: yellow;
    padding: 10px;
    margin-bottom: 10px;

}

#article {
    width: 1500px;
    background-color: orange;
    margin: 10px;

}

#aside {
    width: 920px;
    height: 350px;
    background-color: lightgreen;
    margin: 10px;

}


#footer {
    display: flex;
    justify-content: space-around;
    height: 180px;
    background-color: darkgreen;
    padding: 10px;
}

#tweet {
    width: 250px;
    background-color: lightblue;
    margin: 10px;
}

#mes_photos {
    width: 250px;
    background-color: orange;
    margin: 10px;
}

#mes_amis {
    width: 250px;
    background-color: darkgray;
    margin: 10px;

}